.footerContainer{
    margin-top: 5%;
    width: 100%;
    padding: 0% 10%;
    margin-bottom: 1%;
}
.footer{
    display: inline-flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    padding: 1%;
    width: 100%;
}
.footLinks, .vecRec{
    display: inline-flex;
}
.vecRec h3{
    margin-left: 4%;
}
.footLinks a{
    text-decoration: none;
    margin: 0% 2%;
    display: inline-flex;
    text-align: center;
    color: #222;
}
.section{
    display: inline-flex;
}
.section section{
    margin-right: 4px;
}
@media screen and (max-width: 768px) {
    .footer{
        display: inline-flex;
        flex-direction: column;
    }   
    .footLinks {
        
        margin: 2% 2%;

    }
    .section{
        display: inline-flex;
    }
}