.port-cont{
    text-align: center;
}
.autoBus{
    width: 60%;
    display: inline-flex;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    margin-bottom: 5%;
}
.autoBus a{
    background-color: #222;
    padding: 1% 2%;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition:  0.2s ease-in-out;
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}
.autoBus a:hover{
    background: #fff;
    color: #000;
    border: 1px solid #222;
}