@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  color: #000;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  /* height: 100%; */
  cursor: pointer;
  text-align: center;
}
a:hover{
  transition: all 0.8s ease-in-out;
  
  color: rgb(131, 128, 128);
}

.menuIcon p{
  margin: 7%;
  border-radius: 110px;
  /* width: 10%; */
  height: 5px;
  background-color: #000;
}
.menuIcon{
  /* margin-left: 97%; */
  margin-right: 2%;
  display: none;
  /* visibility: collapse; */
}

.vector1, .callBtn2 .closeBtn{
  visibility: hidden;
  /* display: none; */
  margin: 0;
}



@media screen and (max-width: 768px) {
  .menuIcon{
    display: block;
    padding-top: 4%;
    margin-left: 91%;
  }
  .vector1{
    position: absolute;
    left: 25px;
    visibility: visible;
    top: 5%;
  }
  .vector, .callBtn, .recrowdly{
    visibility: hidden;
    display: none;
  }
  .callBtn2{
    position: absolute;
    left: 55%;
    top: 0px;
    visibility: visible;
  }
  .callSched{
    height: 10px;
  }
  .closeBtn{
    position: absolute;
    right: 5px;
  }
  .links{
    margin-bottom: 10%;
  }
}